body {
  font-family: "Segoe UI";
}

body.light-theme {
  background-color: #f2f2f2;
  color: #2f2f2f;
}

body.dark-theme {
  background-color: #2f2f2f;
  color: #ffffff;
}

.container {
  display: grid;
  grid-template-columns: 120px 1fr;
  grid-template-rows: 50px 1fr 30px;
  grid-gap: 5px;
}

.header {
  grid-row: 1;
  grid-column: 1 / 3;
}

button {
  float: right;
  background-color: #ffa500;
  border-radius: 15px;
  color: black;
  padding: 8px 32px;
}

button#themeToggle {
  float: left;
  background-color: #ffa500;
  border-radius: 15px;
  color: black;
  padding: 16px 32px;
  margin: 4px 2px;
}  
  
